@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border-mask {
  display: flow-root;
  position: relative;
  transition: background-color 1000ms ease-in-out;
}

.gradient-border-mask:hover{
  border-radius: 0.375rem;
  background: linear-gradient(135deg, #02A3EE, #022EEE) border-box;
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.375rem;
  border: 2px solid transparent;
  background: linear-gradient(135deg, #02A3EE, #022EEE) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}


/* canvas {
  display: block;
  overflow:hidden;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
